<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">
	<!-- list -->
	<select id="boardList" resultType="BoardNoticeVO"
		parameterType="Pager">
		SELECT * FROM
		(SELECT N.*, ROWNUM R FROM
		(SELECT * FROM notice
		<choose>
			<when test="kind == 'kt'">
				WHERE title LIKE '%'||#{search}||'%'
			</when>
			<when test="kind == 'kc'">
				WHERE contents LIKE '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				WHERE writer LIKE '%'||#{search}||'%'
			</when>
		</choose>
		ORDER BY num DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	<!-- 1개 -->
 	<select id="boardSelect" resultType="BoardNoticeVO" parameterType="BoardNoticeVO">
 		SELECT * FROM notice
 		WHERE num = #{num}
 	</select>
	<select id="boardCount" resultType="Integer"
		parameterType="Pager">
		SELECT COUNT(num) FROM notice
		<choose>
			<when test="kind == 'kt'">
				WHERE title LIKE '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				WHERE writer LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				WHERE contents LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</select>
	<insert id="boardWrite" parameterType="BoardVO">
		INSERT INTO notice
		VALUES(board_seq.nextval, #{title}, #{writer}, #{contents}, SYSDATE,
		0, #{filename}, #{originalname})
	</insert>
	<delete id="boardDelete" parameterType="Integer">
 		DELETE notice
 		WHERE num = #{num}
 	</delete>
 		<update id="boardUpdate" parameterType="BoardVO">
 		UPDATE notice SET title = #{title}, contents = #{contents}, filename = #{filename}, originalname = #{originalname}
 		WHERE num = #{num}
 	</update>
</mapper>