<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="qnaMapper">
  <!-- 전체 -->
 	<select id="boardList" parameterType="com.iu.s4.util.Pager" resultType="com.iu.s4.model.BoardQnaVO">
 		SELECT * FROM
 		(SELECT Q.*, ROWNUM R FROM
		(SELECT * FROM qna
		<choose>
			<when test="kind == 'kt'">
				WHERE title LIKE '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				WHERE writer LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				WHERE contents LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
		ORDER BY ref DESC, depth ASC) Q)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 		
 	</select>
 	<select id="boardCount" resultType="java.lang.Integer" parameterType="com.iu.s4.util.Pager">
 		SELECT COUNT(num) FROM qna
 		<choose>
			<when test="kind == 'kt'">
				WHERE title LIKE '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				WHERE writer LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				WHERE contents LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
 	</select>
 </mapper>